@charset "utf-8";
/* CSS Document */

body{
	background-color: #666;
}
#login-form
{
	border:5px solid black;
	width:20%;
	border-radius:5px;
	background:white;
	padding:100px;
}
#btn
{
	color:#039;
	background:#39C;
	padding:5px;
	margin-left:63px;
}
	